<html>
	<head>
		<link href="css/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
		<script src="js/ejs_production.js"></script>
	</head>
	<body>
	<div id="banner"></div>
		<div id="main">
			<div id="nav">
				<ul style="padding-left:0px; margin:0px;">
				  <li><a href="freezyplace.herokuapp.com">Board</a></li>
				  <li><a href="http://youtube.com">YouTube</a></li>
				  <li><a href="http://google.com">Google</a></li>
				</ul>
			</div>
			<div id="board">
		<div id="usernew">
			<%- include('form'); %>
		</div>
		<div id="userinfo">
			<%- include('persons'); %>
		</div>
		<div id="userupdate"></div>
		<script src="js/script.js"></script>
		</div>
	<div id="footer"></div>
	</body>
</html>
