<h1>留言板</h1>
<% if (userinfos.length) { %>
  <ul>
    <% userinfos.forEach(function(userinfo){ %>
      <li>
        <div class='name'>
          <%= userinfo['name'] %> <%= userinfo['comment'] %>
        </div>
        <a href="" class='update' rel=<%= userinfo['_id']%>>EDIT</a>
        <a href="" class='delete' rel=<%= userinfo['_id']%>>DEL</a>

      </li>
    <% }) %>
  </ul>
<% } %>
