<h1>留言板</h1>
<% if (userinfos.length) { %>
  <ul>
    <% userinfos.forEach(function(userinfo){ %>
      <li>
        <div class='name'>
        <img src="pic/i_01.gif" style="width:50px; height:50px;">
         <b><%= userinfo['name'] %></b> 說 <%= userinfo['comment'] %>
        </div>

        <a href="" class='delete' rel=<%= userinfo['_id']%>>DEL</a>

      </li>
    <% }) %>
  </ul>
<% } %>
