<h1>User Update</h1>
<div class='name'>First name:</div> <input type="text" placeholder="<%= userinfo['name'] %>" id="name0"/><br />
<div class='name'>Last name:</div> <input type="text" placeholder="<%= userinfo['comment'] %>" id="comment0"/><br />

<button class="btn-update" name=<%= userinfo['_id']%>>Update</button>
